{% extends "base_template.html" %} {% block content %}

<!-- <h6>{{ posts }}</h6> -->

<!-- loop over post data -->
{% for post in posts %} {% if session %}
<div class="row">
  <div class="col blog-card">
    <!-- used to pass post_id to jQuery -->
    <span id="postID" hidden>{{ post["post_id"] }}</span>
    <div class="row">
      <div class="col">
        <h1 class="title text-center">{{ post["title"] }}</h1>
      </div>
    </div>

    <div class="row">
      <!-- injects markdown, can also inject HTML -->
      <div class="col">{{ post["content"] | safe }}</div>
    </div>

    <div class="row">
      <div class="col">
        <h6 class="date-posted text-center">
          Posted @ {{ post["datetime_posted"][0:16] }}
        </h6>
      </div>
    </div>

    <!-- check for tags -->
    <div class="row">
      {% if post['tags'] %}
      <div class="col">
        <!-- iterate over tags -->
        {% for tag in post['tags'] %}
        <a href="{{ url_for('tag.get_posts_by_tag', tag_name=tag["tag_name"]) }}">
          <button type="button" class="btn btn-outline-success tag-spacing">
            {{ tag["human_readable_tag"] }}
          </button>
        </a>
        <!-- end for loop -->
        {% endfor %}
      </div>
      <!-- end if -->
      {% endif %}
    </div>

    <!-- check if post is public -->
    {% if post["datetime_published"] %}
    <div class="row">
      <div class="col">
        <h6 class="text-success ">
          Published: {{ post["datetime_published"][0:16] }}
        </h6>
      </div>
    </div>
    <!-- show if post is private -->
    {% else %}
    <div class="row">
      <div class="col"><h6 class="text-danger">This post is private</h6></div>
    </div>
    {% endif %}
  </div>
</div>

{% elif post['datetime_published'] is not none %}

<div class="row">
  <div class="col blog-card">
    <!-- used to pass post_id to jQuery -->
    <span id="postID" hidden>{{ post["post_id"] }}</span>
    <div class="row">
      <div class="col">
        <h1 class="title text-center">{{ post["title"] }}</h1>
      </div>
    </div>

    <div class="row">
      <!-- injects markdown, can also inject HTML -->
      <div class="col">{{ post["content"] | safe }}</div>
    </div>

    <div class="row">
      <div class="col">
        <h6 class="date-posted text-center">
          Posted @ {{ post["datetime_posted"][0:16] }}
        </h6>
      </div>
    </div>

    <!-- check for tags -->
    <div class="row">
      {% if post['tags'] %}
      <div class="col">
        <!-- iterate over tags -->
        {% for tag in post['tags'] %}
        <a href="{{ url_for('tag.get_posts_by_tag', tag_name=tag["tag_name"]) }}">
          <button type="button" class="btn btn-outline-success tag-spacing">
            {{ tag["human_readable_tag"] }}
          </button>
        </a>
        <!-- end for loop -->
        {% endfor %}
      </div>
      <!-- end if -->
      {% endif %}
    </div>
  </div>
</div>

{% endif %} {% endfor %} {% endblock %}
