{% extends "base_template.html" %} {% block content %}

<!-- <h6>{{ post }}</h6> -->

<div class="row">
  <div class="col blog-card">
    <div class="row">
      <div class="col">
        <h1 class="title text-center">{{ post[0]["title"] }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">{{ post[0]["content"] | safe }}</div>
    </div>

    <div class="row">
      <div class="col">
        <h6 class="date-posted text-center">
          Posted @ {{ post[0]["datetime_posted"][0:16] }}
        </h6>
      </div>
    </div>

    <!-- check for tags -->
    <div class="row">
      {% if post[0]['tags'] %}
      <div class="col">
        <!-- iterate over tags -->
        {% for tag in post[0]['tags'] %}
        <a href="">
          <button type="button" class="btn btn-outline-success tag-spacing">
            {{ tag["human_readable_tag"] }}
          </button>
        </a>
        <!-- end for loop -->
        {% endfor %}
      </div>
      <!-- end if -->
      {% endif %}
    </div>

    <!-- check for session -->
    {% if session %}

    <div class="row text-left post-edit-info">
      <!-- check if post is public -->
      {% if post[0]["datetime_published"] %}

      <div class="col">
        <h6 class="text-success">
          Published: {{ post[0]["datetime_published"][0:16] }}
        </h6>
      </div>

      <!-- show if post is private -->
      {% else %}
      <div class="col"><h6 class="text-danger">This post is private</h6></div>
      {% endif %}

      <div class="col text-right">
        <a
          class="edit-link"
          href="{{ url_for('posts.edit_post', post_id=post[0]['post_id']) }}"
        >
          <i class="far fa-edit fa-1x"></i>
        </a>

        <a
          class="edit-link"
          href="{{ url_for('posts.delete_post', post_id=post[0]['post_id']) }}"
        >
          <i class="far fa-trash-alt fa-1x"></i>
        </a>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
