{% extends "base_template.html" %}

<!-- start block content for this page -->
{% block content %}

<div class="row">
    <div class="col">
        <a href="{{ url_for('posts.get_posts') }}">
            <button class="btn btn-primary btn-lg button-spacing">
                Back to posts
            </button>
        </a>
    </div>
</div>


<!-- check session -->
{% if session %}

<!-- check post -->
{% if posts %}

<!-- loop over data -->
{% for post in posts %}

<div class="row">
  <div class="col blog-card">

    <div class="row">
      <div class="col">
        <h2 class="title text-center">{{ post["title"] }}</h2>
      </div>
    </div>

    <div class="row">
      <!-- injects markdown, can also inject HTML -->
      <div class="col">{{ post["content"] | safe }}</div>
    </div>

    <div class="row">
      <div class="col">
        <h6 class="date-posted text-center">
          Posted @ {{ post["datetime_posted"][0:16] }}
        </h6>
      </div>

    </div>

    <div class="row">

    <div class="col text-right">
        <a href="/posts/undelete/{{ post["post_id"] }}">
            <button class="btn btn-warning btn-lg button-spacing">Restore post</button>
        </a>
    </div>
    </div>



  </div>
</div>

<!-- end for loop -->
{% endfor %}


<div class="row">
    <div class="col text-center">
        <a href="{{ url_for('posts.purge_deleted_posts') }}">
            <button class="btn btn-danger btn-lg button-spacing">
                PURGE ALL DELETED POSTS
            </button>
        </a>
    </div>
</div>

<!-- no data -->
{% else %}
<div class="row">
  <div class="col blog-card text-center">
    <!-- no post data warning -->
    <h1>No data</h1>
  </div>
</div>

<!-- end check of data and or looping -->
{% endif %}

<!-- If no session display warning -->
{% else %}

<div class="row">
  <div class="col blog-card text-center">
    <!-- login warning -->
    <h1>You are not logged in</h1>
  </div>
</div>

<!-- end session check -->
{% endif %}

<!-- endblock -->
{% endblock %}
