{% extends "base_template.html" %} {% block content %}

<!-- {{ post }} -->

<div class="row">
  <div class="col text-center">
    <h1 class="title">Edit post</h1>
  </div>
</div>


<div class="row">
  <div class="col">
    <form method="post">
      <div class="row">
        <div class="col">
          Publish?

          <!-- set checkbox to checked -->
          {% if post[0]['datetime_published'] %}
          <input type="checkbox" name="publish" checked /> {% else %}
          <input type="checkbox" name="publish" />
          <!-- end if -->
          {% endif %}
        </div>
      </div>

      <input id="title-input" type="text" autocomplete="off" name="title"
      class="form-control text-center" value={{
        post[0]["title"]
      }}
      aria-label="Post title" aria-describedby="basic-addon2" required />

      <textarea
        id="content-input"
        autocomplete="off"
        name="content"
        class="form-control"
        aria-label="With textarea"
        required
        >{{ post[0]["content"] }}</textarea
      >
      <div class="row">
        <div class="col">
          <a href="{{ url_for('posts.get_posts') }}">
            <button type="button" class="btn btn-primary btn-block btn-lg">
              Back
            </button>
          </a>
        </div>

        <div class="col">
          <button type="submit" class="btn btn-success btn-block btn-lg">
            Post
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<hr>

{% endblock %}
