{% extends "base_template.html" %} {% block content %}

<!-- <h1>{{ post }}</h1> -->

<div class="row">
  <div class="col blog-card">
    <div class="row">
      <div class="col">
        <h2 class="title text-center">{{ post[0]["title"] }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">{{ post[0]["content"] | safe }}</div>
    </div>

    <!-- check if post is public -->
    {% if post["datetime_published"] %}
    <div class="row">
      <div class="col">
        <h6 class="text-success">
          Published: {{ post["datetime_published"] }}
        </h6>
      </div>
    </div>
    <!-- show if post is private -->
    {% else %}
    <div class="row">
      <div class="col"><h6 class="text-danger">This post is private</h6></div>
    </div>
    {% endif %}

    <!-- check for session -->
    {% if session %}
    <div class="row">
      <div class="col text-right">
        <a
          class="edit-link"
          href="{{ url_for('posts.edit_post', post_id=post[0]['post_id']) }}"
        >
          <i class="far fa-edit fa-1x"></i>
        </a>

        <a
          class="edit-link"
          href="{{ url_for('posts.delete_post', post_id=post[0]['post_id']) }}"
        >
          <i class="far fa-trash-alt fa-1x"></i>
        </a>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
